
p{color:red}

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 background: lightblue;
}

#wrapper { 
 margin: 5px auto;
 width: 922px;
}
#content { 
 width: 900px;
 color: #333;
 border: 2px solid #ccc;
 margin: 10px 0px 10px 0px;
 padding: 15px;
 background: #FEFEFE;
}

#hand {
  padding:5px;
  border: 1px dashed;
  //background-color:red;
  height:250px;
  text-align:center;
  margin:auto;
}
#handContainer {
  text-align:center;
}

img.card {
  height:100%;
}

h1 {
 padding: 0px;
 color:blue;
}