<html>

 <!-- Begin Wrapper -->
 <div id="wrapper">
  <!-- Begin Content -->
  <div id="content">

  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />  
  
  <h1> Here is a BATTLEFIELD </h1>
    
    <div id="handContainer">
    <div style="text-align:center">YOUR HAND</div>
    <div id ="hand" style ="width:{{handWidth}}">
    {% for permanent in player.permanents.all %}
    <IMG class = "card" SRC={{ permanent.picurl }}  alt="What an amazing card">
    {% endfor %}
    </div>
    </div>
    </div>

  </div>
 </div>

</html>
